@charset "utf-8";
@use "sass:list";

/**
 * @site Frontend Mentor | Contact form
 * @author Victor Brito
 */

// Browser configuration
@use "./base/config" as *;

@use "./base/mixins" with (
    $media-queries-breakpoints: (
        two-column-form: 680,
        standalone-form: 814
    )
);
@use "./variables";
@use "./base/reset";
@use "./base/print";
@use "./typo/font-face";
@use "./layout/layout";
@use "./form/form";

