@charset "utf-8";

/** @section Fonts */

@font-face {
    font-family: Karla;
    src: url("fonts/Karla-VariableFont_wght.woff2") format(woff2) tech(variations);
    font-style: normal;
    font-weight: 400 700;
    font-display: swap;
}
